<%= form_for(:session, url: password_change_path) do |f| %>
    <div class="field">
      <%= f.label 'Old password' %>
      <%= f.text_field :password_old %><br />

      <%= f.label 'New Password' %>
      <%= f.text_field :password %><br />
    </div>

    <div class="actions">
      <%= f.submit 'Change Password' %>
    </div>
<% end %>
