<p id="notice"><%= notice %></p>


<% if @histories.size==0 %>
    <p>No history</p>
<% else %>
    <% @histories.each do |history| %>
        <tr>

          <td><%= history.userid %></td>
          <td><%= history.bookid %></td>
          <td><%= history.checkouttime %></td>
          <td><%= history.returntime %></td>
          <td><% if history.returntime == '-1' %>
                <p class="Return the Book"><%= link_to "Return the Book", controller: "books", action: "return", :id => history.bookid, :hid => history.id %>
            <% end %></td>
        </tr>
    <% end %>
<% end %>
<%= link_to 'Back', users_path %>