<p id="notice"><%= notice %></p>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<% @curr_user = current_user() %>
<% @history = History.find_by_sql(" SELECT *
                                    FROM histories
                                    WHERE bookid = '#{@book.id}'
                                    AND returntime = '-1' ") %>


<% if @book.status == '1' %>
    <% if @curr_user.permission == 2 %>
        <p class="Check Out"><%= link_to "Check Out", controller: "books", action: "checkout", :id => @book.id ,:uid => @curr_user.id %>
    <% else %>
        <%= form_tag(searchu_path, :method => "get", id: "searchu-form")do %>
            <%= text_field_tag :searchu, params[:searchu], placeholder: "Check out for user (E-mail)" %>
            <%= hidden_field_tag :bid, @book.id %>
            <%= submit_tag "Check Out for this User" %>
        <% end %>
    <% end %>
<% else %>
    <% @history.each do |history| %>
        <% if history.userid.to_s == @curr_user.id.to_s %>
            <p class="Return the Book"><%= link_to "Return the Book", controller: "books", action: "return", :id => @book.id, :hid => history.id %>
        <% else %>
            <% @user = User.find_by_sql("   SELECT *
                                            FROM users
                                            WHERE id = '#{history.userid}'") %>
            <% @user.each do |borrower| %>
                <p class="Borrower"><%= "Borrower:" + borrower.name %>
            <% end %>
        <% end %>
        <% if @curr_user.permission < 2 %>
            <p class="Return the Book"><%= link_to "Return the Book", controller: "books", action: "return", :id => @book.id, :hid => history.id %>
        <% end %>
    <% end %>
<% end %>

<% if @curr_user.permission < 2 %>
    <% @histories = History.find_by_sql(" SELECT *
                                    FROM histories
                                    WHERE bookid = '#{@book.id}' ") %>

    <h1>Borrow history of this book</h1>

    <table>
      <thead>
      <tr>
        <th>Userid</th>
        <th>Bookid</th>
        <th>Checkouttime</th>
        <th>Returntime</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% if !@histories %>
          <p>No borrow history</p>
      <% else %>
          <% @histories.each do |history| %>
              <tr>
                <td><%= history.userid %></td>
                <td><%= history.bookid %></td>
                <td><%= history.checkouttime %></td>
                <td><%= history.returntime %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Back', books_path %>
